@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*bloklarning width ni o`zgarishini verstka uchun qulay qilib beradi*/
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/*quyidagi teglarni blok qilib beradi*/
nav,
footer,
header,
aside {
  display: block;
}

/*elementlarning hossalarini barcha brauzerlar uchun mo`tadillashtirib beradi*/
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjusst: 100%;
  -moz-text-size-adjusst: 100%;
  -webkit-text-size-adjust: 100%;
}

/*quyidagi teglarning shriftlar oilasini vorislashi taminlanadi*/
input,
button,
textarea {
  font-family: inherit;
}

/*turli brauzerlarning o`ziga xos hususiyatlarini olib tashlash*/
input:-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button:-moz-focus-innesr {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*sarlavharning odatdagi stillarini nullashtirish*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

/* для удаления стрелок в инпутах */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

* {
  font-family: "lato";
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
@media (max-width: 1400px) {
  .container {
    padding: 0 20px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1000px) {
  .nav__list {
    width: 584px;
  }
}
@media (max-width: 1000px) {
  .nav__item.link, .nav__phone-me {
    display: none;
  }
}
.nav .link__ico {
  vertical-align: middle;
  color: #d44b4b;
}
.nav__link {
  color: #121761;
}
.nav__phone-me {
  width: 274px;
  height: 56px;
  border: 1px solid #121761;
  border-radius: 10px;
  background: none;
  color: #121761;
  font-weight: 400;
  font-size: 20px;
}

.hero {
  background: #d44b4b;
}
.hero__container {
  display: grid;
}
@media (min-width: 1000px) {
  .hero__container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
  }
}
@media (max-width: 1200px) {
  .hero__container {
    display: flex;
    position: relative;
  }
}
@media (max-width: 900px) {
  .hero__container {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
  }
}
.hero .right {
  background: url(../img/Иллюстрация.png) no-repeat center bottom;
  background-size: contain;
}
@media (min-width: 1200px) {
  .hero .right {
    grid-column: 2/3;
    grid-row: 1/5;
  }
}
@media (max-width: 1200px) {
  .hero .right {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 700px;
    height: 100%;
  }
}
@media (max-width: 900px) {
  .hero .right {
    grid-column: 1/3;
    grid-row: 2/4;
    width: 100%;
  }
}
.hero .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
@media (min-width: 1200px) {
  .hero .left {
    grid-column: 1/2;
    grid-row: 2/4;
  }
}
@media (max-width: 1200px) {
  .hero .left {
    min-height: 450px;
  }
}
@media (max-width: 900px) {
  .hero .left {
    grid-column: 1/3;
    align-items: center;
    text-align: center;
    grid-row: 1/2;
  }
  .hero .left .hero__btn {
    height: 48px;
    font-size: 18px;
    border-radius: 20px;
  }
}
.hero__quest {
  font-size: 16px;
  font-weight: 400;
  color: White;
  margin-bottom: 8px;
}
.hero__response {
  font-size: 45px;
  font-weight: 700;
  line-height: 53px;
  color: white;
  margin-bottom: 36px;
}
.hero__response > span {
  border: 1px solid #ffffff;
  border-radius: 20px;
  padding: 0 10px 10px 10px;
}
.hero__btn {
  width: 400px;
  font-weight: 700;
  height: 72px;
  font-size: 23px;
  background: #ffffff;
  box-shadow: 2px 2px 4px #a1303c;
  border-radius: 10px;
  border: none;
}

.grid__box {
  margin-bottom: 200px;
  background-color: #fafeff;
}
@media (min-width: 900px) {
  .grid__box {
    grid-template-rows: 1fr minmax(300px, 200px) 1fr;
  }
}
@media (max-width: 900px) {
  .grid__box {
    display: grid;
  }
}

@media (max-width: 900px) {
  .section:nth-child(2) {
    grid-row: 1/2;
  }
}

@media (max-width: 900px) {
  .section:nth-child(1) {
    grid-row: 2/3;
  }
}

.instruction__container {
  display: grid;
}
@media (min-width: 900px) {
  .instruction__container {
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 60px;
    padding: 200px 0;
  }
}
@media (max-width: 1200px) {
  .instruction__container {
    padding: 200px 50px;
  }
}
.instruction__card {
  border: 1px solid #e0e0e0;
  border-radius: 8px 50px 50px 50px;
  padding: 20px;
  padding-top: 0;
}
.instruction__card > img {
  width: 100%;
  object-fit: contain;
}

@media (max-width: 900px) {
  .card {
    margin-bottom: 50px;
  }
}
.card > h2 {
  position: relative;
  top: -30px;
  left: -15px;
  font-size: 60px;
  font-weight: 700;
}
.card__title {
  font-style: 14px;
  font-weight: 400;
  border: 1px solid #e0e0e0;
  border-radius: 30px;
  padding: 15px;
}

.survey {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 900px) {
  .survey {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto auto;
  }
}
.survey__title {
  max-width: 790px;
  font-size: 45px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 69px;
}
@media (max-width: 900px) {
  .survey__title {
    grid-row: 1/2;
  }
  .survey__title > span {
    padding: 0px 7px 7px 7px;
    border: 2px solid #d44b4b;
    border-radius: 30px;
  }
}
.survey__section {
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #f2f2f2;
  box-shadow: 1px 3px 20px rgb(240, 240, 240);
  border-radius: 20px;
}
@media (max-width: 900px) {
  .survey__section {
    grid-row: 2/3;
  }
}
@media (max-width: 900px) {
  .survey__section {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
  }
}
.survey .position {
  position: relative;
}
.survey .position .line {
  position: absolute;
  right: 200px;
  bottom: 200px;
  z-index: 0;
}
.survey__input-box {
  position: relative;
  z-index: 1;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 67px;
}
.survey__input-box > p:first-child {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 70px;
}
.survey__input-box > p:first-child > span {
  color: #d44b4b;
}
.survey__input-box > h4 {
  font-weight: 400;
  font-size: 35px;
  margin-bottom: 30px;
  max-width: 480px;
}
.survey__input-box > button {
  background: #d44b4b;
  box-shadow: 2px 2px 5px #f0f0f0;
  border-radius: 10px;
  width: 460px;
  height: 72px;
  border: none;
  margin-bottom: 60px;
  font-size: 23px;
  color: #ffffff;
  font-weight: 700;
}
.survey__list {
  max-width: 354px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.survey__list > li {
  margin-bottom: 20px;
}
.survey__list > ol {
  padding-left: 25px;
}
.survey__list > ol > li {
  list-style-type: decimal;
}

.img__box {
  background: #d44b4b;
  display: flex;
  flex-direction: column-reverse;
}
@media (max-width: 900px) {
  .img__box {
    background: url(../img/Иллюстрация.png) center;
    background-color: #d44b4b;
    width: 100%;
    min-height: 200px;
    max-height: 300px;
    grid-row: 1/2;
  }
}
.img__box > img {
  width: 100%;
}
@media (max-width: 1000px) {
  .img__box > img {
    display: none;
  }
}

.footer {
  background: #475658;
}
.footer .col {
  color: #d44b4b;
  vertical-align: middle;
}
.footer__container {
  color: #fff;
}
@media (min-width: 900px) {
  .footer__container {
    padding: 60px 0;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
  }
}
.footer__container .footer__logo {
  grid-row: 1/5;
  grid-column: 1/2;
  width: 100px;
  height: 110px;
}
.footer__container .footer--location {
  grid-row: 2/3;
  grid-column: 2/3;
  color: #fff;
}
.footer__container .footer--phone {
  grid-row: 3/4;
  grid-column: 2/3;
  color: #fff;
}
.footer__container .footer__work-mode {
  grid-row: 2/4;
  grid-column: 3/4;
}
.footer__container .footer__work-mode > p:first-child {
  margin-bottom: 10px;
}
.footer__container .footer__work-mode > p:first-child > i {
  margin-left: -30px;
  margin-right: 10px;
}
@media (max-width: 900px) {
  .footer__container {
    display: grid;
    grid-template-rows: 73px minmax(109px, 150px) 131px;
  }
  .footer__container .footer__logo {
    display: none;
  }
  .footer__container .footer--phone {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1/2;
    grid-column: 1/3;
    border-bottom: 1px solid #dbdbdb;
  }
  .footer__container .footer__work-mode {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .footer__container .footer--location {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/3;
    grid-row: 3/4;
  }
}